<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/nittanydatalabs/lightning-bolt.png">
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
 
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/component.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/animated-bg.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Nittany Data Labs</title>
	
</head>

<body>
	
    <header class="cd-header">
		<div class="cd-logo"><img src="https://s3-us-west-2.amazonaws.com/nldwebsite/ndl-logo.png" alt="Logo" style="width:180px"></div>
		<!-- <div class="cd-logo" style="color:#FF913F; font-size: 20px"> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/lightning-bolt.png" style="height:15px; display:inline-block"> Nittany Data Labs </div> -->
		<a class="cd-primary-nav-trigger" href="#0"> <span class="cd-menu-text" style="color:#FF913F"><!-- Menu --> </span><span class="cd-menu-icon"></span> </a><!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">About Us</li>

			<li ><a href="#our_story"><span style="color: #FF913F">Our Story</span></a></li>
            
            <li class="cd-label">Who</li>
            
			<li><a href="#projects"><span style="color: #FF913F">Our Projects</span></a></li>

			<li class="cd-label">What</li>

			<li><a href="#team"><span style="color: #FF913F">Our Team</span></a></li>

			<li class="cd-label">Where</li>

			<li><a href="#join"><span style="color: #FF913F">Join Us</span></a></li>

			<li class="cd-label"> Follow Us Us</li>
			
			<li class="cd-social cd-facebook"><a href="https://www.facebook.com/ndlpsu/">Facebook</a></li>
		</ul>
	</nav>
    
	<div id="large-header" class="large-header">
		<canvas id="demo-canvas"></canvas>
		<h1 class="main-title"> <span style="color:#FF913F">Nittany Data Labs </span> <br><br> <a href="#our_story" style="color:#ffffff"> Info </a> | <a href="https://chrissharkey.typeform.com/to/M876ep"> <span style="color:#FF913F"> Apply </span> </a> </h1>
	</div>

<!-- Section 1 WHAT WE DO -->

	<main id="more" class="cd-main-content" style="margin-top: 5rem;">
        
        <!--What is Nittany Analytics Labs? -->
        <div class="cd-container">
			<h4 style="color: #FF913F">What is Nittany Data Labs?</h4>
			<br>
			<h2 style="color: #7e7e7e; font-size: 35px" id="our_story">Our Story</h2>
			<p><strong id="docs-internal-guid-e16e456d-bdeb-2bef-e750-f1145acc0cbf">

				Upon the onset of the 21st century, the world found itself in the midst of an incredible information revolution.  Data became more easily accessible with the advance of computers.  Businesses, governments, and individuals can collect data, analyze it, and draw conclusions to solve a wide variety of problems.  If you are asking yourself, “How can I solve problems using data?” you have come to the right place.

				<br><br>

				Nittany Data Labs is an undergraduate student organization at the Pennsylvania State University.  Upon our founding in 2013, we realized that there is always a desire for data skillsets.  Businesses want their employees to understand how to draw meaning from data and apply this to their decisions and strategies.  It helps people find jobs as well as enriches one’s understanding of the world around them. The issue was, there was no organization on campus that could teach and provide real-world experience in the far-reaching field that is data science.  Thus, we were born.

				<br><br>

     			We at Nittany Data Labs we teach a variety of skill sets to our members depending on their interests and what would be most valuable to them. We work to nurture an interest in data science as well as an understanding.  We feel it is most effective to do this by having both lessons and real world projects that make students use the skills they have learned as well as their natural intuition to solve problems in the real world.
           

			</strong></p>
		</div>

        <!-- Out Amazing Project -->
		<div class="cd-container" style="margin-top: 5rem;" main id="projects">
			<h4 style="color: #FF913F">What We Do</h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> Our Amazing Projects</h2>
            <p> 

            	We are diving into several major projects and a variety of minor projects in the fall semester.  They will cover the three major areas within analytics; Data visualization, predictive modeling and business intelligence.  We will be working with a wide variety of data analysis tools including but not limited to Tableau, Amazon Dynamo DB, Weka, and Hadoop’s HBase and Mahout.  We will be delivering technological solutions with the ability of our highly talented organization to our clients that can increase their businesses’ efficiency and intelligence.

            	<br><br>

				Our members will be working with major clients upon their entrance into Nittany Data Labs.  Not just learning in our data training boot camp.
 

          	<h2 style="color: #7e7e7e; font-size: 35px"> Our Training Program </h2>

          		<br>
          	<p>

          		Data science is an interdisciplinary study. It often requires experienced ideas on business and an in-depth technical knowledge of many solutions. While individuals may later specialize in a certain discipline, NDL provides every member with a technical and nontechnical base. In our collaborative and open boot camp, our directors and members will give talks and workshops on topics ranging from neural networks and machine learnings to common consulting practices and corporate strategy. 

          		<br><br>

				The collection of ideas presented amongst our current group is staggering for an undergraduate organization. Attending our weekly training session will give our new members a skillset in both technical and non-technical work, encouraging them to a wide variety of opportunities. Combining training and talks provides members with a knowledge and project experience to not only become a leader for NDL, but also an excellent candidate for any job.  NDL's Training Boot Camp will provide a working knowledge for our projects as well.
        

		</div>	

<!-- Section 2 (The Amazing People Behind This) -->
	
		<div class="cd-container" main id="team" style="margin-top: 5rem;">
			<h4 style="color: #FF913F">Who We Are</h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> The Dream Team </h2>
			<p> Working on these projects we some of the best people. </p>
			
            <!--Matthew Hanmdani-->
			<div class="cd-container-people">
				<div class="cd-container-people-clmn-1">
					<a href=""> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/matthew_hanmdani.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Engineer</h4>
					    <h2>Matthew Hanmdani</h2>
                        <br>
                        <h3>matthew@bigdatapsu.com</h3>
					    <p> 
					    	Matthew is currently a sophomore pursuing a Bachelor of Science degree in Computer Engineering. Born and raised in Indonesia, he aspires to be a pivotal contributor to the future of technology. Besides his experience in web development, he has a passion for “big data” and “ virtual and augmented reality.” In his free time, he enjoys playing basketball and tennis. He also loves listening to music and spending his evenings by updating his Spotify playlists with new releases in dance music and EDM. Overwise he loves travelling and hopes to visit more countries in the near future.
					      	<br>  
					    </p> 
					</div>
				</div>

                <!--Preseton Soepranoto-->
				<div class="cd-container-people-clmn-2">
					<a href=""> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/preseton_adrian.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Engineer</h4>
					    <h2>Preseton Soepranoto</h2>
                        <br>
                        <h3>preston@bigdatapsu.com</h3>
					    <p> 
					    	Preston is a sophomore majoring in Industrial Engineering. A prior intern at MatahariMall.com Preston obtained relevant skills in data analytics. Now a member of NDL Preston is excited to grow as he works on a number of projects within the organization and patriciates in the training modules on more advanced topics. Using his experience Preston is excited to work more in the big data space. Outside of NDL Preston enjoys staying involved in a diversity of other extracurricular activates.
					    	<br><br><br>
					    </p>
					</div>
				</div>
                
                <!-- Maris Hayes -->
				<div class="cd-container-people-clmn-3">
					<a href=""> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/maris_hayes.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Strategist</h4>
						<h2>Maris Hayes</h2>
                        <br>
                        <h3>maris@bigdatapsu.com</h3>
					    <p> 
					    	Maris Hayes is pursuing a B.S in Statistics, Actuarial Science Option and a B.S. in Management Information Systems. She is excited to have recognized her enthusiasm for applied statistics and analytics early on in her academic career. Maris is a student in the Smeal College of Business and Eberly College of Science and desires to integrate her statistical knowledge with real world applications and take advantage of what the power of Big Data has to offer. Outside of her mathematical pursuits, Maris enjoys the outdoors, ceramics, and a good cup of coffee.
					    	<br><br>
					    </p>
					</div>
                </div>

			</div>

            <!--Space Between two gropings-->
            <br> <br>

            <div class="cd-container-people">
                
				<!-- John Warner -->
				<div class="cd-container-people-clmn-1">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/john+warner.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2>John Warner</h2>
                        <br>
                        <h3>john@bigdatapsu.com</h3>
					    <p>
					    	John is a junior majoring in Marketing. John is thrilled to get the ability to learn different ways he can use the information gathered in NDL to better understand marketing analytics as well as to learn about front-end web design. John heads the Consulting Division of the Penn State Marketing Association where he works with local companies in coming up with marketing strategies and solutions. He also is a member of the Penn State Disc Golf Club. He has interned in different tech startups and has enjoyed learning the strategies that small companies use growth hacking to grow themselves.
					    </p>
					</div>
				</div>

				<!-- Albert Guo -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/albert_guo.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Engineer</h4>
					    <h2>Albert Guo</h2>
                        <br>
                        <h3>albert@bigdatapsu.com</h3>
					    <p>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    </p>					    	
					</div>
				</div>

				<!-- Ben Bowman -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/ben_bowman.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Engineer</h4>
					    <h2>Ben Bowman</h2>
                        <br>
                        <h3>ben@bigdatapsu.com</h3>
					    <p>
					    	Ben is a Sophomore pursuing a B.S. in Computational Mathematics. Ben decided to join Nittany Data Labs to improve his technical skills and to support the group. He believes that if we want to embrace the biggest challenges in science and industry, we as a society will have to have a greater command of technology in order to move forward. Ben looks forwad to learning, growing and brining technology to advances in industry and research and development.
					    	<br><br><br><br>
					    	<br>					    	
					    </p>					    	
					</div>
				</div>

			</div>

            <!--Space Between two gropings-->
            <br> <br>

            <div class="cd-container-people">
                
				<!-- Shulin Chen -->
				<div class="cd-container-people-clmn-1">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/shulin_chen.JPG"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2>Shulin Chen</h2>
                        <br>
                        <h3>shulin@bigdatapsu.com</h3>
					    <p>
					    	Shulin is a sophomore studying Supply Chain Management and Information Systems Technology. Some of her favorite books include The Power of Habit, Lean Startup, 4 Hour Work Week, and biographies of entrepreneurs. She is very enthusiastic about learning, personal growth, and turning great ideas into reality. She believes that with the advent of vast technological changes in society, businesses must capitalize on data science to increase product market fit. Shulin hopes to be able to contribute to this cause.
					    	<br><br><br><br>
					    </p>
					</div>
				</div>

				<!-- Jon McKeller -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/jon_mckellar.JPG"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2>Jon McKeller</h2>
                        <br>
                        <h3>jon@bigdatapsu.com</h3>
					    <p>
					    	Jon is pursuing a B.S. in Mathematics, Actuarial Science option, a B.S. in Economics, and a minor in Statistics. Extremely interested in the applications of algorithms to optimization in fields such as finance and economics, Jon is excited to apply his analytical skills to solving new and complex problems with NDL. Through mathematical techniques and programming experience, he hopes to give back to NDL and help solve a  variety of issues facing Penn State and the local community.
					    	<br><br><br><br>
					    </p>					    	
					</div>
				</div>

				<!-- Jack Delany -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/jack_delaney.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2>Jack Delany</h2>
                        <br>
                        <h3>jack@bigdatapsu.com</h3>
					    <p>
					    	Jack Delaney is a junior studying Finance and Print Journalism. He has been interested in Big Data since beginning to read Nate Silver's FiveThirtyEight. He is especially interested in the application of data to the realms of finance and politics. Jack is also co-president of the Sapphire Leadership Academic Program. Outside of school activities, Jack is passionate about hip-hop music and sports. He spent this past summer in Rome, Italy and would love the chance to return someday.
					    	<br><br><br><br><br>
					    </p>					    	
					</div>
				</div>

			</div>

			<!--Space Between two gropings-->
            <br> <br>

			<div class="cd-container-people">

				<!-- Yuya Ong -->
				<div class="cd-container-people-clmn-1">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/yuya_ong.JPG"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Engineer</h4>
					    <h2> Yuya Ong </h2>
                        <br>
                        <h3>yuya@bigdatapsu.com</h3>
					    <p>
					    	Yuya is currently a Freshman pursuing a Bachelor of Science Degree in Computer Science. His primary interests includes working on many programming projects, specifically on machine learning. Currently he conducts research at The Intelligent Information Systems Research Laboratory at the IST. He is currently researching methods for having computers be able to recognize human affect or emotion from body posture and gestures. He hopes to contribute his development skills in conjunction with learning more about "Big Data" and methods of applied Data Science on real-world projects through the NDL.
					    </p>
					</div>
				</div>

				<!-- Cole -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/cole.JPG"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2> Cole </h2>
                        <br>
                        <h3>cole@bigdatapsu.com</h3>
					    <p>
					    	Cole is currently a freshmen in the Schreyer Honors College pursuing a double major in applied mathematics and economics with a minor in statistics. He hopes to one day pursue a Doctorate in either applied mathematics or statistics. Cole is very excited to learn the skills and methods in data analytics through NDL that he will one day use on a daily basis in both graduate school and his future career. Beyond his passion for data and mathematical modeling, Cole enjoys watching comedy television shows, and is also an avid golfer.
					    	<br><br>
					    </p>
					</div>
				</div>

				<!-- Ryan Jager -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/ryan_jaeger.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2> Ryan Jager </h2>
                        <br>
                        <h3>ryan@bigdatapsu.com</h3>
					    <p>
					    	Ryan Jaeger is a freshman in the Eberly College of Science and the Schreyer Honors College pursuing a Bachelor of Science in Math. He is ecstatic for this opportunity to learn about Big Data analytics and how it can be utilized to help specific industries and the general population. He can’t wait to contribute real world applications of data science within Penn State and beyond. Outside of NDL, Ryan plays clarinet in the Penn State Blue Band and the Concert Band, is a member of the Math Club, and enjoys The West Wing and Fleetwood Mac.
					    	<br><br>
					    </p>
					</div>
				</div>

			</div>

			<!--Space Between two gropings-->
            <br> <br>

            <div class="cd-container-people">

                <!-- Neal -->
				<div class="cd-container-people-clmn-1">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/neal_vasan.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2> Neal Vasan </h2>
                        <br>
                        <h3>neal@bigdatapsu.com</h3>
					    <p>
					    	Neal Vasan is currently a sophomore pursuing a B.S. in Computer Engineering and minors in Math and Security & Risk Analysis with a focus in Network Security. His career interests include information security, tech startups, software engineering, data analytics, and product management. He specifically joined NDL to dive deeper into his interests in data analytics and project management. Through NDL, Neal hopes to pursue many consulting projects where he can gain real world experience. Aside from his techy pursuits, Neal is part of the Alpha Tau Omega Fraternity through which he is actively involved with THON.
					    </p>
					</div>
				</div>

            	<!-- Chris Sharkey -->
				<div class="cd-container-people-clmn-2">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/chris_sharkey.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F"> Director </h4>
					    <h2> Chris Sharkey </h2>
                        <br>
                        <h3>chris@bigdatapsu.com</h3>
					    <p>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br>
					    </p>
					</div>
				</div>

				<!-- Vamshi -->
				<div class="cd-container-people-clmn-3">
                <a href=""> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/vamshi_voruganti.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F"> Director </h4>
					    <h2> Vamshi Voruganti </h2>
                        <br>
                        <h3>vamshi@bigdatapsu.com</h3>
					    <p>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br><br><br><br>
					    	<br>
					    </p>
					</div>
				</div>

            </div>			

		</div>
  
<!-- Out Amazing Project -->
		<div class="cd-container" style="margin-top: 5rem;" main id="projects">
			<h4 style="color: #FF913F"> Recruitment </h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> Join the Team </h2>
            <p> 

            	We are taking on more projects and clients. We are looking for great people to work on these projects.
            	<br><br>
            	We are filling the following roles: 

            	<br><br> 

            	<span style="color:#FF913F">Deployment Strategist- Business Skills</span>

            	<br> 

            	Analytics can not exist in a vacuum. Novel insights are derived from understanding both the data and the context setting surrounding it. Deployment strategists will work with the client on defining user needs, project scope, and development timelines. They will compile descriptive information on the dataset, how information is captured, and the features of analysis that would be most valuable for the given application. Client relationship and project management skills are preferable.

            	<br> <br> 

            	<span style="color:#FF913F">Development Engineer- Coding Skills</span>
            	
            	<br>

            	Analytics requires a deep understanding of both the problem and the tools available to solve it. Deployment engineers will be coding, exploring large data sets, testing scripts, and ultimately delivering the analytics interface. A wide range of skills may be valuable for this position including: programming skills in R, Python, SQL, noSQL; machine learning and algorithm development techniques; and statistics. 

            	<br><br>

            	Interested? <a href="https://chrissharkey.typeform.com/to/M876ep" style="color:#FF913F"> Apply </a> today.

		</div>

        <!--Not Sure where this is linked to. but I was afraid to delet it in case it breaks anything so I just commented on it -->
		<!--</div>-->    

<!-- Section 4 (Work With Us) -->
	
		<div class="cd-container" main id="works">
			
            <!--Love Big Data?-->
            <h4 style="color: #FF913F">Contact Us</h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> Love big data? </h2>
            <br>

            <!--Big Data Word Cloud-->
			<!-- <img src= img/big_data_word_map.png width="850"> -->

			<br><br><br><br><br>

			<h2 style="color: #7e7e7e; font-size: 75px"> <span style="color: #FF913F"> You </span> + <span style="color: #FF913F"> Us  </span>  = <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/heart.png"> </h2> 
			
			<br><br><br><br><br>
            
            <!-- Then Join the Team -->
            <br>
            <h2 style="color: #7e7e7e; font-size: 35px"> Contact Us | <a href="https://chrissharkey.typeform.com/to/M876ep" style="color:#FF913F"> Apply </a> </h2>

            <div class="cd-container-contact">
				<div class="cd-container-contact-clmn-1"> </div>
				<div class="cd-container-contact-clmn-2" style="padding-bottom: 0px;">
					
                    <!-- Meeting Time -->
                    <div class="contact-1">
						<div class="contact-clmn-content">
							<h4>Meeting Time</h4>
							<p>Mondays at 8:00 PM</p>
						</div>
					</div>

                    <!-- Location -->
					<div class="contact-2">
						<div class="contact-clmn-content">
							<h4>Location</h4>
							<p>
								IST Building
							</p>
						</div>
					</div>
				</div>
				
				<div class="cd-container-contact-clmn-2">
					
                    <!-- Email Us -->
                    <div class="contact-1">
						<div class="contact-clmn-content">
							<h4>Email Us</h4>
							<p>
							   hello@bigdatapsu.com
							</p>
						</div>
					</div>

                    <!--Socail Media-->
					<div class="contact-2">
						<div class="contact-clmn-content">
							<h4> Social Media </h4>
							<p align="center">
							   <!-- www.facebook.com/sparkpennstate -->
                               <a href="https://www.facebook.com/ndlpsu/"> facebook </a>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>


<!-- Section 5 (Footer) -->
		
		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© Nittany Data Labs 2016</div>
					<div class="footer-clmn2"> <a href="mailto:hell@bigdatapsu.com"> hello@bigdatapsu.com </a></div>
			</div>
			
			<!-- Google Tag Manager -->
			<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVJ4T2"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WVJ4T2');</script>
			<!-- End Google Tag Manager -->
		</div>
		
	</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wGdqrTcgLdOPzMbASsbiHkloxc6v2rE"></script>

		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>


<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>
