<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/nittanydatalabs/lightning-bolt.png">
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
 
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/component.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/animated-bg.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Nittany Data Labs</title>
	
</head>

<body>
	
    <header class="cd-header">
		<div class="cd-logo"><img src="https://s3-us-west-2.amazonaws.com/nldwebsite/ndl-logo.png" alt="Logo" style="width:180px"></div>
		<!-- <div class="cd-logo" style="color:#FF913F; font-size: 20px"> <img src="https://s3-us-west-2.amazonaws.com/nittanydatalabs/lightning-bolt.png" style="height:15px; display:inline-block"> Nittany Data Labs </div> -->
		<a class="cd-primary-nav-trigger" href="#0"> <span class="cd-menu-text" style="color:#FF913F">Menu</span><span class="cd-menu-icon"></span> </a><!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">About Us</li>

			<li ><a href="#more"><span style="color: #FF913F">Our Story</span></a></li>
            
            <li class="cd-label">Who</li>
            
			<li><a href="#team"><span style="color: #FF913F">The Dream Team</span></a></li>

			<li class="cd-label">What</li>

			<li><a href="#projects"><span style="color: #FF913F">Our Amazing Projects</span></a></li>

			<li class="cd-label">Where</li>

			<li><a href="#works"><span style="color: #FF913F">Work With Us</span></a></li>

			<li class="cd-label">Follow Us</li>
			
			<li class="cd-social cd-facebook"><a href="http://www.facebook.com/sparkpennstate">Facebook</a></li>
			<li class="cd-social cd-twitter"><a href="http://www.twitter.com/sparkpennstate">Twitter</a></li>
		</ul>
	</nav>
    
	<div id="large-header" class="large-header">
		<canvas id="demo-canvas"></canvas>
		<h1 class="main-title"> <span style="color:#FF913F">Nittany Data Labs </span> <br><br> <a href="#our_story" style="color:#ffffff"> Info </a> | <a href="https://chrissharkey.typeform.com/to/M876ep"> <span style="color:#FF913F"> Apply </span> </a> </h1>
	</div>

<!-- Section 1 WHAT WE DO -->

	<main id="more" class="cd-main-content" style="margin-top: 5rem;">
        
        <!--What is Nittany Analytics Labs? -->
        <div class="cd-container">
			<h4 style="color: #FF913F">What is Nittany Data Labs?</h4>
			<br>
			<h2 style="color: #7e7e7e; font-size: 35px" id="our_story">Our Story</h2>
			<p><strong id="docs-internal-guid-e16e456d-bdeb-2bef-e750-f1145acc0cbf">

				Nittany Data Labs is a growing student organization. With the onset of the 21st century we are in the midst of an information revolution. Google indexes over 3 billion webpages a day. Countless devices both fixed and mobile generate tremendous amounts of data each day. Organizations continue to collect data with single organizations having up to and sometimes above petabytes of data stored. With a sea of information which grows with each moment, how does an organization navigate these seas? How can emerging technologies be leveraged and what questions can we ask to reach greater insights and discover meaning?  <br>

				<br>

				Nittany Data Labs represents some of the finest ideas and implementations of big data projects at Penn State. An entirely student run group, students within the group spend time exploring existing and emerging technologies. Wrestling with concepts and ideas related to Hadoop, machine learning and data visualization. Working on a variety of projects within Penn State and outside of Happy Valley. Nittany Data Labs leverages these taught skills to make a difference working on actual projects, partnered with a variety of other businesses and organizations. Nittany Data Labs aims to push the envelope with respect to what is possible within the realm of analytics and business intelligence.                

			</strong></p>
		</div>

        <!-- Out Amazing Project -->
		<div class="cd-container" style="margin-top: 5rem;" main id="projects">
			<h4 style="color: #FF913F">What We Do</h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> Our Amazing Projects</h2>
            <p> 

            	We are diving into three major projects and a variety of minor projects, while simultaneous obtaining new project and partners. Our current major projects are in partnership with Penn State Food Services. The three projects cover the three major areas within analytics. Data visualization, predictive modeling and business intelligence. The first project is a data visualization project related to visualizing temperature data collected by food services. The project will help ensure the safety of our food and will utilize technologies such as tableau, Amazon Dynamo DB and full stack web development. Our second project is a predictive modeling project related to improving current forecasting systems which predict the demand of perishable foods. This project will help prevent waste and help food services operate more efficiently. This project will utilize machine learning in the context of Weka and possibly Hadoop, specifically utilizing HBase and Mahout. Our last project is a business intelligence project. Working with the entirety of the food services data we are scaling tradition business and consulting strategy to identify cost saving measures. Combining the power of well delivered technology with the agility of a talented organization we are bringing value in a new way. 

          	<h2 style="color: #7e7e7e; font-size: 35px"> Our Training Program </h2>

          		<br>
          	<p>

          		Data science is an interdisciplinary study. It often requires experienced ideas on business and in depth technical knowledge on many technology solutions. While individuals’ may later specialize in one of these as they become more developed data scientist, NDL provides every member with technical and nontechnical knowledge. In a collaborative and open training program the directors and members of the club give talks and workshops on topics ranging from neural networks and machine learnings to common consulting and cooperate strategy. The collection of ideas presented amongst our current group is staggering. Attending the weekly training session with the entirely of the club, new member in a semester an often fell competent enough in both technical and non-technical work to pursue a diversity of opportunities. Combining trainings and talks with participation in ongoing projects NDL invests heavily in every members and provides them the knowledge and project experience to grow not only the club but also themselves. Learning and applying ideas at the same time in an open structure with excellent content, NDL's training program provides experience and excellent incites and is only another reason to <a href="https://chrissharkey.typeform.com/to/cNFgxy" style="color:#FF913F"> join </a> the organization.        

		</div>	

<!-- Section 2 (The Amazing People Behind This) -->
		
		<div class="cd-container" main id="team" style="margin-top: 5rem;">
			<h4 style="color: #FF913F">Who We Are</h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> The Dream Team </h2>
			<p> Working on these projects we some of the best people. </p>
			
            <!--Matthew Hanmdani-->
			<div class="cd-container-people">
				<div class="cd-container-people-clmn-1">
					<a href="https://www.linkedin.com/in/matthewjeremy"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/matthew_hanmdani.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Engineer</h4>
					    <h2>Matthew Hanmdani</h2>
                        <br>
                        <h3>matthew@bigdatapsu.com</h3>
					    <p> 
					    	Matthew is currently a sophomore pursuing a Bachelor of Science degree in Computer Engineering. Born and raised in Indonesia, he aspires to be a pivotal contributor to the future of technology. Besides his experience in web development, he has a passion for “big data” and “ virtual and augmented reality.” In his free time, he enjoys playing basketball and tennis. He also loves listening to music and spending his evenings by updating his Spotify playlists with new releases in dance music and EDM. Overwise he loves travelling and hopes to visit more countries in the near future.
					      	<br>  
					    </p> 
					</div>
				</div>

                <!--Preseton Soepranoto-->
				<div class="cd-container-people-clmn-2">
					<a href="https://www.linkedin.com/in/preston-soepranoto-336b688b"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/preseton_adrian.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Engineer</h4>
					    <h2>Preseton Soepranoto</h2>
                        <br>
                        <h3>preston@bigdatapsu.com</h3>
					    <p> 
					    	Preston is a sophomore majoring in Industrial Engineering. A prior intern at MatahariMall.com Preston obtained relevant skills in data analytics. Now a member of NDL Preston is excited to grow as he works on a number of projects within the organization and patriciates in the training modules on more advanced topics. Using his experience Preston is excited to work more in the big data space. Outside of NDL Preston enjoys staying involved in a diversity of other extracurricular activates.
					    	<br><br><br>
					    </p>
					</div>
				</div>

                <!--Shaan Pattni-->
				<div class="cd-container-people-clmn-3">
					<a href="https://www.linkedin.com/in/shaanpattni"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/shaan_pattni.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2>Shaan Pattni</h2>
                        <br>
                        <h3>shaan@bigdatapsu.com</h3>
					    <p> 
					    	Shaan is currently a senior at The Pennsylvania State University and Schreyer Honors College studying Economics and Supply Chain Management. Last year, Shaan was the Executive Vice President of the Penn State Economics Association, as well as its Vice President of Education. In addition, he co-founded and co-directed a women empowerment club on campus called the Malini Club, which focuses on women entrepreneurship and the education of girls in developing countries.
					    	<br><br><br><br>
					    </p>
					</div>
				</div>
			</div>

            <!--Space Between two gropings-->
            <br> <br>

            <!--John Warner-->
            <div class="cd-container-people">

                <!--Nichola Hilman-->
				<div class="cd-container-people-clmn-2">
					<a href="https://www.linkedin.com/in/nicholashilman"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/nicholar_hilman.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Engineer</h4>
					    <h2>Nicholas Hilman</h2>
                        <br>
                        <h3>nicholas@bigdatapsu.com</h3>
					    <p>
					    	Nicholas is pursuing a double major in Economics and International Political Economy. He was born and raised in Indonesia’s capital city, Jakarta, and has ample experience in his involvement as a coordinator at the Penn State Economics Association. He has a profound interest in Big Data Analytics as he acknowledges the grave implications it has in both the micro- and macro-economy. At NDL, he wishes to mobilize the massive Penn State community to better engage with Big Data, and harness its power. <br><br><br><br>	
					    </p>
					</div>
				</div>

				<div class="cd-container-people-clmn-1">
                <a href="https://www.linkedin.com/in/john-warner-542889b0"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/john+warner.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Deployment Strategist</h4>
					    <h2>John Warner</h2>
                        <br>
                        <h3>john@bigdatapsu.com</h3>
					    <p>
					    	John is a junior majoring in Marketing. John is thrilled to get the ability to learn different ways he can use the information gathered in NDL to better understand marketing analytics as well as to learn about front-end web design. John heads the Consulting Division of the Penn State Marketing Association where he works with local companies in coming up with marketing strategies and solutions. He also is a member of the Penn State Disc Golf Club. He has interned in different tech startups and has enjoyed learning the strategies that small companies use growth hacking to grow themselves.
					    </p>
					</div>
				</div>

                <!-- Maris Hayes -->
				<div class="cd-container-people-clmn-3">
					<a href="https://www.linkedin.com/in/maris-hayes-98b910a2"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/maris_hayes.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Development Engineer</h4>
						<h2>Maris Hayes</h2>
                        <br>
                        <h3>maris@bigdatapsu.com</h3>
					    <p> 
					    	Maris Hayes is pursuing a B.S in Statistics, Actuarial Science Option and a B.S. in Management Information Systems. She is excited to have recognized her enthusiasm for applied statistics and analytics early on in her academic career. Maris is a student in the Smeal College of Business and Eberly College of Science and desires to integrate her statistical knowledge with real world applications and take advantage of what the power of Big Data has to offer. Outside of her mathematical pursuits, Maris enjoys the outdoors, ceramics, and a good cup of coffee.
					    	<br><br>
					    </p>
					</div>
                </div>

			</div>

            <!--Space Between two gropings-->
            <br> <br>

            <!--Vamshi Voruganti-->
            <div class="cd-container-people">
				<div class="cd-container-people-clmn-1">
                <a href="https://www.linkedin.com/in/vamshivoruganti"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/vamshi_voruganti.jpg"> </a>
				    <div class="cd-container-people-info">
				        <h4 style="color: #FF913F">Codirector</h4>
					    <h2>Vamshi Voruganti</h2>
                        <br>
                        <h3>vamshi@bigdatapsu.com</h3>
					    <p>
					    	Vamshi is a Junior in the College of Engineering studying Industrial Engineering. Vamshi's main goal through this project is to insure that Nittany Data Labs findings can effectively be used by the greater Penn State community to enhance their own career progression. Apart from NDL, Vamshi is also involved in InnoBlue and Students Consulting for Nonprofit Organizations. In his free time, Vamshi likes to either relax over a game of Settlers of Catan or take long mid-afternoon naps.
					    	<br><br><br><br>
					    </p>
					</div>
				</div>

                <!--Chris Sharkey-->
				<div class="cd-container-people-clmn-3">
					<a href="https://www.linkedin.com/in/christophersharkey"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/chris_sharkey.jpg"> </a>
					<div class="cd-container-people-info">
					    <h4 style="color: #FF913F">Codirector</h4>
						<h2>Christopher Sharkey</h2>
                        <br>
                        <h3>chris@bigdatapsu.com</h3>
					    <p> 
					    	Chris is working towards a B.S. in Toxicology and is involved in a variety of extracurricular and research projects. The common subject area underlying many of his endeavors is data analytics. He started working with big data as an undergraduate research assistant in the Huck Institute for the Life Sciences. He specifically investigates next generation sequencing data, working to determine underlying patterns in the genomic sequences of various viruses and pathogens. While still working in bioinformatics Chris now works in a diversity of feilds on a number of projects.
					    </p>
					</div>
                </div>

                <!--This Could Be You-->
				<div class="cd-container-people-clmn-2">
					<a href="https://chrissharkey.typeform.com/to/cNFgxy"> <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/blank.png"> </a>
					<div class="cd-container-people-info">
					    <a href="https://chrissharkey.typeform.com/to/cNFgxy" style="color:#FF913F"> <h4 style="color: #FF913F">Apply</h4> </a>
					    <h2>This could be you</h2>
                        <br>
                        <h3>hello@bigdatapsu.com</h3>
					    <p>
					    	<a href="https://chrissharkey.typeform.com/to/cNFgxy" style="color:#FF913F"> Apply </a> to join Nittany Data Labs <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>	
					    </p>
					</div>
				</div>

			</div>

		</div>
  
<!-- Out Amazing Project -->
		<div class="cd-container" style="margin-top: 5rem;" main id="projects">
			<h4 style="color: #FF913F"> Recruitment </h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> Join the Team </h2>
            <p> 

            	We are taking on more projects and clients. We are looking for great people to work on these projects.
            	<br><br>
            	We are filling the following roles: 

            	<br><br> 

            	<span style="color:#FF913F">Deployment Strategist- Business Skills</span>

            	<br> 

            	Analytics can not exist in a vacuum. Novel insights are derived from understanding both the data and the context setting surrounding it. Deployment strategists will work with the client on defining user needs, project scope, and development timelines. They will compile descriptive information on the dataset, how information is captured, and the features of analysis that would be most valuable for the given application. Client relationship and project management skills are preferable.

            	<br> <br> 

            	<span style="color:#FF913F">Development Engineer- Coding Skills</span>
            	
            	<br>

            	Analytics requires a deep understanding of both the problem and the tools available to solve it. Deployment engineers will be coding, exploring large data sets, testing scripts, and ultimately delivering the analytics interface. A wide range of skills may be valuable for this position including: programming skills in R, Python, SQL, noSQL; machine learning and algorithm development techniques; and statistics. 

            	<br><br>

            	Interested? <a href="https://chrissharkey.typeform.com/to/cNFgxy" style="color:#FF913F"> Apply </a> today.

		</div>

        <!--Not Sure where this is linked to. but I was afraid to delet it in case it breaks anything so I just commented on it -->
		<!--</div>-->    

<!-- Section 4 (Work With Us) -->
	
		<div class="cd-container" main id="works">
			
            <!--Love Big Data?-->
            <h4 style="color: #FF913F">Contact Us</h4>
			<h2 style="color: #7e7e7e; font-size: 35px"> Love big data? </h2>
            <br>

            <!--Big Data Word Cloud-->
			<!-- <img src= img/big_data_word_map.png width="850"> -->

			<br><br><br><br><br>

			<h2 style="color: #7e7e7e; font-size: 75px"> <span style="color: #FF913F"> You </span> + <span style="color: #FF913F"> Us  </span>  = <img src="https://s3-us-west-2.amazonaws.com/nldwebsite/heart.png"> </h2> 
			
			<br><br><br><br><br>
            
            <!-- Then Join the Team -->
            <br>
            <h2 style="color: #7e7e7e; font-size: 35px"> Contact Us | <a href="https://chrissharkey.typeform.com/to/cNFgxy" style="color:#FF913F"> Apply </a> </h2>

            <div class="cd-container-contact">
				<div class="cd-container-contact-clmn-1"> </div>
				<div class="cd-container-contact-clmn-2" style="padding-bottom: 0px;">
					
                    <!-- Meeting Time -->
                    <div class="contact-1">
						<div class="contact-clmn-content">
							<h4>Meeting Time</h4>
							<p>Mondays at 8:00 PM</p>
						</div>
					</div>

                    <!-- Location -->
					<div class="contact-2">
						<div class="contact-clmn-content">
							<h4>Location</h4>
							<p>
								IST Building
							</p>
						</div>
					</div>
				</div>
				
				<div class="cd-container-contact-clmn-2">
					
                    <!-- Email Us -->
                    <div class="contact-1">
						<div class="contact-clmn-content">
							<h4>Email Us</h4>
							<p>
							   hello@bigdatapsu.com
							</p>
						</div>
					</div>

                    <!--Socail Media-->
					<div class="contact-2">
						<div class="contact-clmn-content">
							<h4> Social Media </h4>
							<p align="center">
							   <!-- www.facebook.com/sparkpennstate -->
                               @DataNittany
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>


<!-- Section 5 (Footer) -->
		
		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© Nittany Data Labs 2016</div>
					<div class="footer-clmn2"> <a href="mailto:hell@bigdatapsu.com"> hello@bigdatapsu.com </a></div>
			</div>
			
			<!-- Google Tag Manager -->
			<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVJ4T2"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WVJ4T2');</script>
			<!-- End Google Tag Manager -->
		</div>
		
	</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wGdqrTcgLdOPzMbASsbiHkloxc6v2rE"></script>

		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>


<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>
