<!DOCTYPE html>
<html>
	<head>
		
		<title> Watson EdTech Challenge </title>	
    	
    	<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	
	</head>
	<body>
		
		<row>
			<div class="col-lg-1"></div>
			<div class="col-lg-10" align="center"> 
				<br>
				<div class="container">
  					<div class="jumbotron">
   						<h1> Nittany Data Labs </h1>
   						<br>
    					<h3>
    						Student run analytics club that teaches students technical skills over a semester long training program. We then contextualize the knowledge gained by working on real world consulting projects the following semester. We are very serious about this competition. In fact, for this semester alone, instead of consulting projects, we are committed to working on the five (5) proposal projects we submitted for the IBM Watson/PSU EdTech Network Challenge. <br><br>
							
							We met with several university leaders to draft our proposals. Each subject-matter-expert that we have identified will serve as both an advisor and stakeholder for our projects. Our core team of project managers and technical leaders are individuals with years of specialized experience. We will also supplement these individuals with 5-10 auxiliary members per team to ensure adequate manpower to complete all funded proposals. Bios of the CORE team are listed below: <br>
						</h3> 
  					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</row>

		<row>
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				
				<!-- Vamshi -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/vamshi.jpg" alt=""> 
					</div>
					<div class="col-lg-6">
						<h2> Vamshi Voruganti </h2>
						<h3> A project management professional with a proven track record of both conceptualizing and implementing innovative solutions. Won national prize in General Motor’s Innovation Competition, and successfully implemented winning concept into General Motor’s manufacturing process. <br><br><br><br> </h3>
					</div>
				<row>

				<!-- Daniel Marzec -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/b.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Daniel Marzec </h2>
						<h3> ​Proven leader with experience guiding teams through the entire development cycle. Working with IBM’s Security Services division this summer; integrating Machine Learning concepts into Enterprise Cyber Security software. <br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Chris Sharkey -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/chris.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Christopher Sharkey </h2>
						<h3> ​Professional with over two (2) years of project management and IT implementation experience at a Fortune 500 Company (Humana). <br><br><br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Grace Miller -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/grace.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Grace Miller </h2>
						<h3> ​Technical project manager with experience overseeing and managing the entire end-to-end product development cycle for multiple startups. <br><br><br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Vince Trost -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/e.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Vince Trost </h2>
						<h3> ​Data Sciences major with extensive design and development experience through technical internships in the Financial sector. <br><br><br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Yuya Ong -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/yuya.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Yuya Ong </h2>
						<h3> ​Internship at IBM Research last summer. Won the internal IBM Poster Competition, received two patents, and published a research paper (first author) for his summer work. Expert in the Watson APIs and related technologies. <br><br><br><br> </h3>
					</div>
				<row>

				<!-- Bill -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/bill.png" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Bill Dusch </h2>
						<h3> ​Physics PhD candidate. Physics TA for past six (6) years. Several Data Science certifications and technical implementations in PhD research. <br><br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Ben Carson -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/h.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Ben Carson </h2>
						<h3> ​Double major in Information Science Technology and Security Risk Analysis who contributes a wide breadth of technology experience to this team. Past internship with Clark & Associates & upcoming with General Electric. <br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Ben Wallace -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/i.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Ben Wallace </h2>
						<h3> ​Ambitious leader with considerable project management experience. Summer project manager at Napoleon Engineering Services. <br><br><br><br><br><br><br> </h3>
					</div>
				<row>

				<!-- Harshita Palegar -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/j.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h2> Harshita Palegar </h2>
						<h3> ​Data Science major with computer programming experience, passionate about the advantages of utilizing technology in the classroom. <br><br><br><br><br><br><br><br><br><br> </h3>
					</div>
				<row>

			</div>
			<div class="col-lg-1"></div>
		</row>

	</body>
</html>