<!DOCTYPE html>
<html>
	<head>
		<title> Watson EdTech Challenge </title>	
    	<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<row>
			<div class="col-lg-6"> 
				<p> Hello World </p>
			</div>
		</row>
	</body>
</html>