<!DOCTYPE html>
<html>
	<head>
		
		<title> Watson EdTech Challenge </title>	
    	
    	<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	
	</head>
	<body>
		
		<row>
			<div class="col-lg-1"></div>
			<div class="col-lg-10" align="center"> 
				<br>
				<div class="container">
  					<div class="jumbotron">
   						<h1> Nittany Data Labs </h1>
   						<br>
    					<p>
    						Nittany Data Labs is a student run data science club which teaches students technical skills over a semester long training program. Nittany Data Labs contextulizes knowledge gained in out training program by working on real world consulting projects each semester following our training program. <br><br>
							
							We are very serious about the Watson EdTech competition. In fact, this semester alone, instead of working on a number of consulting project we are committed to instead working on the five independent proposal projects we submitted for the IBM Watson/PSU EdTech Network Challenge. <br><br>
							
							We met with several university leaders to draft our proposals. Each subject-matter-expert that we have identified will serve as both an advisor and stakeholder for each of our project ideas. <br><br>
							
							Our core team of project managers and technical leaders are individuals with years of project experience. We will additionally, supplement these individuals with 5-10 auxiliary team members per project to ensure adequate manpower to complete all funded proposals. Some facts about our members are highlighted below: <br>
						</p> 
  					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</row>

		<row>
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				
				<!-- Vamshi -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/vamshi.jpg" alt=""> 
					</div>
					<div class="col-lg-6">
						<h3> Vamshi Voruganti </h3>
						<p> A project management professional with a proven track record of both conceptualizing and implementing innovative solutions. Won national prize in General Motor’s Innovation Competition, and successfully implemented winning concept into General Motor’s manufacturing process. <br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- Chris Sharkey -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/chris.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h3> Christopher Sharkey </h3>
						<p> ​Professional with over two (2) years of project management and IT implementation experience at a Fortune 500 Company (Humana). <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- Grace Miller -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/grace.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h3> Grace Miller </h3>
						<p> ​Technical project manager with experience overseeing and managing the entire end-to-end product development cycle for multiple startups. <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- Yuya Ong -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/yuya.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h3> Yuya Ong </h3>
						<p> ​Internship at IBM Research last summer. Won the internal IBM Poster Competition, received two patents, and published a research paper (first author) for his summer work. Expert in the Watson APIs and related technologies. <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- Bill -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/bill.png" alt="">
					</div>
					<div class="col-lg-6">
						<h3> Bill </h3>
						<p> ​Physics PhD candidate. Physics TA for past six (6) years. Several Data Science certifications and technical implementations in PhD research. <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- ? -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/h.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h3> ? </h3>
						<p> ​Double major in Information Science Technology and Security Risk Analysis who contributes a wide breadth of technology experience to this team. Past internship with Clark & Associates & upcoming with General Electric. <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- ? -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/i.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h3> ? </h3>
						<p> ​Ambitious leader with considerable project management experience. Summer project manager at Napoleon Engineering Services. <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

				<!-- ? -->
				<row>
					<div class="col-lg-3"></div>
					<div class="col-lg-3" align="center">
						<img src="https://s3.amazonaws.com/watsonndl/j.jpg" alt="">
					</div>
					<div class="col-lg-6">
						<h3> ? </h3>
						<p> ​Data Science major with computer programming experience, passionate about the advantages of utilizing technology in the classroom. <br><br><br><br><br><br><br><br><br><br> </p>
					</div>
				<row>

			</div>
			<div class="col-lg-1"></div>
		</row>

	</body>
</html>